<div class="index">
  <div class="container home">
    <h1 class="logo">CitiRide</h1>

    <%= form_tag(search_path, method: "get") do %>

      <%= label_tag(:s, "Starting point") %>
      <%= text_field_tag(:s) %>

      <%= label_tag(:d, "Destination") %>
      <%= text_field_tag(:d) %>

      <%= submit_tag "Ride!" %>

    <% end %>
  </div>
  <footer>
    Find the best route to pick up your CitiBike and get to your destination.
  </footer>
</div>