<div id="map"></div>
<script type="text/javascript">
	// finalPoints[0] = start, finalPoints[1] = first station, finalPoints[2] = second station, finalPoints[3] = destination
	var finalPoints = <%= @final_points %>;
	var addresses = <%= @address.to_json.html_safe %>
	var startStation = <%= @start_station_data.to_json.html_safe %>
	var destinationStation = <%= @destination_station_data.to_json.html_safe %>
	renderMap(finalPoints, addresses, startStation, destinationStation);	
</script>



<div class="authenticate">
<%= link_to "Log in to save your ride?", login_path, id: "login", remote: true %>
<%= link_to "...or sign up here.", signup_path, id: "signup", remote: true %>
</div>

